<div class="jumbotron">
  <h3>Manage your links like a pro</h3>
  <br>
  <p class="lead">Just create an account and add links to the personal sotorage for free !</p>
  <br>
  <p><a href=""><img src="assets/img/google.png"></a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>What's milions of links?</h4>
    <br>
    <p>Web app for storing your saved links, and manage them.</p>
    <p>You will never forget link to favourite place on the Internet, like movies, music and course. 

  </div>

  <div class="col-lg-6">
    <h4>Options?</h4>
    <br>
    <p>Saving links</p>
    <p>Personal account and login via google account</p>
    <p>Efficient storage</p>
    <p>Filtering and editing links</p>
  </div>
</div>